AOSP.si4project/
.repo/
.idea/
/frameworks/av
/frameworks/compile
/frameworks/ex
/frameworks/hardware
/frameworks/layoutlib
/frameworks/libs
/frameworks/minikin
/frameworks/multidex
/frameworks/proto_logging
/frameworks/rs
/frameworks/wilhelm
/frameworks/base/apct-tests
/frameworks/base/apex
/frameworks/base/api
/frameworks/base/docs
/frameworks/base/drm
/frameworks/base/errorprone
/frameworks/base/graphics
/frameworks/base/keystore
/frameworks/base/location
/frameworks/base/identity
/frameworks/base/lowpan
/frameworks/base/mime
/frameworks/base/mms
/frameworks/base/nfc-extras
/frameworks/base/obex
/frameworks/base/opengl
/frameworks/base/proto
/frameworks/base/rs
/frameworks/base/samples
/frameworks/base/sax
/frameworks/base/startop
/frameworks/base/telecomm
/frameworks/base/telephony
/frameworks/base/test-base
/frameworks/base/test-legacy
/frameworks/base/test-mock
/frameworks/base/test-runner
/frameworks/base/tests
/frameworks/base/tools
/frameworks/base/wifi
/frameworks/base/.prebuilt_info
/frameworks/base/packages/EasterEgg/.gradle/
/frameworks/ex/common/.gradle/
/frameworks/opt/chips/.gradle/
/frameworks/opt/colorpicker/.gradle/
/frameworks/opt/photoviewer/.gradle/
/frameworks/opt/vcard/.gradle/
.vscode/
